body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header,#carrito {
    background-color: #333;
    color: white;
    padding: 1em;
    justify-content: center;

  }
  header,#carrito{
    display: flex;
  }
#carrito{
    justify-content: right;
    text-align: end;
    display: block;
}


  nav {
    background-color: #444;
    color: white;
    padding: 0.5em;
  
  }

li{
    list-style-type: none;
}

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  a:hover{
  color: #666565;
  }

  section {
    padding: 2em;
  }

  .items-row1,.items-row2{
    display: flex;
    justify-content: space-between;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position:relative;
    bottom: 0;
    width: 100%;
  }